title{
    display: none;
}
.top-title{
    font-family: 'Bangers', cursive;
    color: rgb(233, 96, 47);
    font-size: 80px;
    text-align: center;
    background-color: rgb(248, 196, 190);
    margin:auto;
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.unique-color{
    color: rgb(235, 73, 14);
}
section{
    display: flex;
}
.first-half{
    width: 50%;
    padding-left: 5%;
}
.top-text{
    padding-top: 10%;
}
.first-half img{
    width: 85%;
}